<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716496455490-p2bdprjoaftori9vsnsu9t5k8fcsakvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716496455490-p2bdprjoaftori9vsnsu9t5k8fcsakvn</string>
	<key>API_KEY</key>
	<string>AIzaSyAEpyW_wjvqploaKdt002T9KGMTdEFvXJw</string>
	<key>GCM_SENDER_ID</key>
	<string>716496455490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuition.GuruQ</string>
	<key>PROJECT_ID</key>
	<string>guruq-7f7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>guruq-7f7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716496455490:ios:5a3c8842e0cf887b4aeadb</string>
	<key>DATABASE_URL</key>
	<string>https://guruq-7f7a2.firebaseio.com</string>
</dict>
</plist>